<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="home-image">
			<div class="front-page-jumbo">
			  <h1>Vil du vite om en av kundene dine er i ferd med å bli slått konkurs?</h1>
			  <br /><br />
			  <button class="btn btn-lg btn-success">Kom i gang! Tjenesten er gratis.</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="custom-jumbo">
			  <h1>Konkursvarsel</h1>
			  <p>This is an intelligent subheader</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="custom-jumbo">
			  <h1>Konkursvarsel</h1>
			  <p>This is an intelligent subheader</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="custom-jumbo">
			  <h1>Konkursvarsel</h1>
			  <p>This is an intelligent subheader</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="custom-jumbo">
			  <h1>Konkursvarsel</h1>
			  <p>This is an intelligent subheader</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="custom-jumbo">
			  <h1>Konkursvarsel</h1>
			  <p>This is an intelligent subheader</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="custom-jumbo">
			  <h1>Konkursvarsel</h1>
			  <p>This is an intelligent subheader</p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="field-animals-footer">
			<div class="footer-text">
			  <p>Made with <span class="glyphicon glyphicon-heart"></span> at Bergen Offentlige Bibliotek</p>
			</div>
		</div>
	</div>
</div>