<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="home-image">
			<div class="front-page-jumbo">
			  <h1>Bli varslet om kundene dine er i ferd med å bli slått konkurs?</h1>
			  <br /><br />
			  <a class="btn btn-lg btn-success" target="_top" href="/auth/github">Kom i gang! Tjenesten er gratis.</a>
			</div>
		</div>
	</div>
</div>
<div class="container" style="min-height: 80vh">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: center; margin-top: 20vh">Vær sikker på å delta i konkursboet med tre enkle skritt</h1>
		</div>
	</div>
	<div class="row" style="margin-top: 10vh">
		<div class="col-md-4">
			<div class="custom-jumbo">
			  <h2>1. Opprett bruker</h2>
			  <p>Benytt e-postadressen hvor du vil motta varslene.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="custom-jumbo">
			  <h2>2. Oppgi kundene dine</h2>
			  <p>Søk opp kundene dine i enhetsregisteret ved hjelp av navn eller organisasjonsnummer.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="custom-jumbo">
			  <h2>3. Motta varsler</h2>
			  <p>Du vil deretter motta varsler dersom noen av kundene dine er i ferd med å gå konkurs.</p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" style="min-height: 80vh; background: linear-gradient(to bottom right, #242828, #444848); color: #fff">
	<div class="container">
		<div class="row" style="margin-top: 10vh">
			<div class="col-md-6">
				<div class="custom-jumbo">
				  <h2>Om Konkursvarsleren</h2>
				  <p>Konkursvarsleren ble lagd på et <a href="https://www.facebook.com/events/762034990539788">Hackathon</a> i regi av <a href="https://www.facebook.com/groups/1490424181208486/">Open Data Bergen</a> og <a href="http://bergenbibliotek.no/">Bergen Offentlige Bibliotek</a>.</p>
				  <p><a href="https://www.facebook.com/events/762034990539788">Hackathonet</a> ble arrangert for å leke med åpne data fra en rekke offentlige aktører, bl.a bilder, kart, vær og andre spennende datasett, i felleskap med andre engasjerte utviklere. </p>
				  <h2>Åpne data</h2>
				  <p>Konkursvarselen benytter Åpne data fra <a href="http://www.brreg.no/registrene/enhet/">Enhetsregisteret</a>, som er tilgjengelig på <a href="http://hotell.difi.no/">DIFIs datahotell</a>.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="custom-jumbo">
				  <h2>Arrangører og sponsorer</h2>
				  <h3><a href="https://www.facebook.com/groups/1490424181208486/">Open Data Bergen</a></h3>
				  <h3><a href="http://bergenbibliotek.no/">Bergen Offentlige Bibliotek</a></h3>
				  <h3><a href="http://www.bouvet.no/">Bouvet</a></h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="field-animals-footer">
			<br /><br /><br />
			<div class="footer-text">
			  Lagd med <span class="glyphicon glyphicon-heart"></span> ved <a href="http://bergenbibliotek.no/">Bergen Offentlige Bibliotek</a> av <a href="https://github.com/klakegg">klakegg</a>,  <a href="https://github.com/Foxboron">Foxboron</a>, <a href="https://github.com/johnfa">johnfa</a> and <a href="https://github.com/saltvedt">saltvedt</a>. <a href="https://github.com/Foxboron/KonkursVarsel">Kildekoden ligg på GitHub</a>.
			</div>
		</div>
	</div>
</div>