<div class="row">
  <div class="col-md-6">
	<h1>Min oversikt</h1>
  </div>
  <div class="col-md-6" id="query" style="margin-top: 20pt; margin-bottom: 20pt;">
      <input type="text" class="form-control" placeholder="Søk i organisasjoner for å legge til" submit-required="true" ng-model="organization" typeahead="o.navn + ' (' + o.orgnr + ')' for o in query($viewValue)" typeahead-min-length="3" typeahead-wait-ms="250" typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)" />

  </div>
</div>

<div class="alert alert-info" role="alert" ng:show="orgs.length == 0">Det er ikke registrert noen organisasjoner.</div>

<table class="table table-striped" ng:hide="orgs.length == 0">
<tr>
	<th style="width: 80pt;">Orgnr.</th>
	<th>Navn</th>
	<th style="width: 100pt;">Status</th>
</tr>
<tr ng:repeat="item in orgs">
	<td ng:bind="item.orgnr"></td>
	<td ng:bind="item.navn"></td>
	<td>
		<span ng:show="item.konkurs == 'J'" style="color: #F00; font-weight: bold;">Konkurs</span>
		<span ng:show="item.konkurs == 'N'">
			<span ng:show="item.avvikling == 'J'" style="font-weight: bold;">Frivillig avvikling</span>
			<span ng:show="item.tvangsavvikling == 'J'" style="font-weight: bold;">Tvungen avvikling</span>
			<span ng:show="item.avvikling == 'N' && item.tvangsavvikling == 'N'">Aktiv</span>
		</span>
	</td>
</tr>
</table>
